{% extends "base_generic.html" %}


{% block sidebar %}
{% load static %}
{% if user.is_authenticated %}
<li>User: {{ user.get_username }}</li>
<li><a href="{% url 'logout'%}?next={{request.path}}">Cerrar sesión</a></li>
{% endif %}
    <aside class="sidelog">

      <!<img src=" {% static 'images/foto1.jpg' %}" alt="mujer Yoga"/>
      <img src=" {% static 'images/foto2.jpg' %}" alt="hombre yoga"/>
      <!<img src=" {% static 'images/foto5.jpg' %}" alt="budda"/>
      <img src=" {% static 'images/foto4.jpg' %}" alt="lady Yoga"/>
      <! <img src=" {% static 'images/foto3.jpg' %}" alt="meditation"/>
    </aside>
{% endblock %}


{% block content %}

{% if form.errors %}
<div class="log">El nombre de usuario o la contraseña no son correctos. Por favor inténtelo de nuevo.</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Su cuenta no tiene acceso a esta página. Para continura,
        por favor inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="login">
  <td>{{ form.username.label_tag }}</td><br>
  <td>{{ form.username }}</td><br><br>
</div>
<div class="login">
  <td class="login">{{ form.password.label_tag }}</td><br>
  <td class="login">{{ form.password }}</td><br><br><br>

  <input id="loggin" type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{% endblock %}