{% extends "base_generic.html" %}

{% block content %}
<h1>Bienvenidos al centro de yoga Prasanna</h1>

  <p>Somos un centro espacializado en la disciplina del yoga en el que nuestro monitores están certificados por las FCU. Antes de poder explicarte nuestra filosofía que aplicamos a class
        clases, queremos preguntarnos. ¿Qué es el yoga? y ¿qué tipo de cosas podemos conseguir mediante la práctica de esta disciplina milenaria?</p>
  <p>El yoga mejora la salud de quienes lo practican, gracias a sus múltiples beneficios. Las posturas de yoga no dejan de sorprender por los beneficios físicos, mentales y espirituales que se consiguen en las clases de yoga. Siéntete en el aire por dentro y por fuera. El yoga aporta una expansión en todos los campos de la existencia humana. Su práctica garantiza un cuerpo firme, una mente estable y un espíritu benevolente. Consulta los distintos tipos de beneficios del yoga, a continuación. ¡Son innumerables!</p>
  <p>Es por esto que nuestras clases son de 90 minutos, divididos en 30 minutos de ejercicio psicofísico, 30 minutos de asannas y 30 minutos de relajación. Solo así conseguimos todos estos beneficios.</p>
  <p>Te esperamos para que descubras con nosotros el fascinante nuevo mundo que el yoga abrirá para ti.</p></p>

<h2>Información sobre medidas frente al Covid-19</h2>

  <p>Debido al Covid-19 nuestras clases tendrán un aforo máximo de 8 personas. Por este motivo hemos habilitado la opción de reservar plaza
  para las clases. Para ello necesitan un nombre de usuario y contraseña que recibirán en el centro. Con esto vayan a la sección "Reservar plaza"
  y podrán asegurarse su plaza en las clases. Gracias a todos por su colaboración.</p>


{% endblock %}