{% extends "base_generic.html" %}
  {% load static %}
    {% block sidebar %}

    {% if user.is_authenticated %}
      <li>User: {{ user.get_username }}</li>
      <li><a href="{% url 'logout'%}?next={{request.path}}">Cerrar sesión</a></li>
    {% endif %}
    <aside class="classlist" >
        <img src=" {% static 'images/foto1.jpg' %}" alt="mujer Yoga"/>
      <img src=" {% static 'images/foto2.jpg' %}" alt="hombre yoga"/>
      <img src=" {% static 'images/foto5.jpg' %}" alt="budda"/>
      <img src=" {% static 'images/foto4.jpg' %}" alt="lady Yoga"/>
      <! <img src=" {% static 'images/foto3.jpg' %}" alt="meditation"/>
    </aside>


   {% endblock %}

{% block content %}

<p id="proxima"><b>Próximas clases</b></p><br>

    {% if clase_list %}
    <ul class="clases">

      {% for claseinst in clase_list %}
        {% if claseinst.is_past %}
        {% else %}


      <li>
        <a href="{% url 'my_classes' %}">Reserva tu plaza: </a>{{claseinst.Dia}} a las {{claseinst.Hora}}. Impartida por
          {{claseinst.profesor}}. Plazas disponibles: ({{ claseinst.PlazasLibres }})<br><br>

      </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% else %}
      <p>No hay clases disponibles.</p>
    {% endif %}

{% endblock %}