{% extends "base_generic.html" %}

{% block content %}

<p id="proxima"><b>Próximas clases</b></p><br>

    {% if clase_list %}
    <ul class="clases">

      {% for claseinst in clase_list %}
        {% if claseinst.is_past %}
        {% else %}


      <li>
        <a href="{% url 'my_classes' %}">Reserva tu plaza: </a>{{claseinst.Dia}} a las {{claseinst.Hora}}. Impartida por
          {{claseinst.profesor}}. Plazas disponibles: ({{ claseinst.PlazasLibres }})<br><br>

      </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% else %}
      <p>No hay clases disponibles.</p>
    {% endif %}

{% endblock %}